{% extends "master.html" %}
{% block title %}
		Sveiki!!
{% endblock %}
{% block content %}
<div id="content">
	<div class="post">
		<h1 class="title">Receptų kūrimas</h1>
		<div class="entry">
			<p>
				<form action="/kurimas/" name='kurimo_forma' method="post">
					{% if message %}
						<p>{{ message }}</p>
					{% endif %}
					{% for field in form %}
						<label> {{ field.label }}: </label><br>
						{{ field }}<br>
						<h5>{% if field.errors %}
							{{ field.errors }}
						{% endif %}</h5>
					{% endfor %}
				<input type="submit" name="sukurti" value="Sukurti">
			</form>
			</p> 
		</div>
		<div class="meta">
		</div>
	</div>
</div>
{% endblock %}
{% block sidebar %}
<div id="sidebar">
	<div id="sidebar-bgtop"></div>
	<div id="sidebar-content">
		<div id="sidebar-bgbtm">
		<ul>
			{% if not user.is_authenticated %}
				{% include "user/login.html" %}
			{% else %}
				{% include "user/logout.html" %}
			{% endif %}
			{% include "latest.html" %}
		</ul>
	</div>
	</div>
</div>
<div style="clear:both; margin:0;"></div>
{% endblock %}


